/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/mag Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [ cpus: 60, memory: 125.GB, time: 72.h ]

    cpus   = {  1    * task.attempt }
    memory = {  7.GB * task.attempt }
    time   = {  4.h  * task.attempt }

    errorStrategy = 'retry'
    maxRetries    = 3
    maxErrors     = '-1'
    
    // Default process labels, used by nf-core modules
    withLabel:process_single {
        cpus   = {  1                   }
        memory = {  6.GB * task.attempt }
        time   = {  4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = {  2     * task.attempt }
        memory = {  12.GB * task.attempt }
        time   = {  4.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = {  6     * task.attempt }
        memory = {  36.GB * task.attempt }
        time   = {  8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = {  12    * task.attempt }
        memory = {  72.GB * task.attempt }
        time   = {  16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = {  20.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = {  200.GB * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

    // Process requirements for local modules
    withName: SALTGENES_FILTER {
        cpus   = { 1         * task.attempt }
        memory = { 100.MB    * task.attempt }
        time   = { 5.min     * task.attempt }
    }

    withName: 'SALTGENES_CATPERGENE|SALTGENES_CATPERSAMPLE' {
        cpus   = { 1        * task.attempt }
        memory = { 50.MB    * task.attempt }
        time   = { 5.min    * task.attempt }
    }

    withName: SALTGENES_BWAMEM2BUILD {
        cpus   = { 1        * task.attempt }
        memory = { 50.MB    * task.attempt }
        time   = { 5.min    * task.attempt }
    }

    withName: SALTGENES_BWAMEM2ALIGN {
        cpus   = { 6         * task.attempt }
        memory = { 2.GB      * task.attempt }
        time   = { 30.min    * task.attempt }
    }

    // Nf-core modules with removed process labels (process_single, process_medium, etc) - processes should be migrated to local folder
    withName: PROKKA {
        cpus   = { 2     * task.attempt }
        memory = { 2.GB  * task.attempt }
        time   = { 1.h   * task.attempt }
    }
    withName: PRODIGAL {
        cpus   = { 1         * task.attempt }
        memory = { 2.GB      * task.attempt }
        time   = { 4.h       * task.attempt }
    }
}
